body{
    background-color: black;
    background-image: url('../images/pizza.jpeg');
    color: white;
}

.pizzaImages{
    background-position: center;
    background-size: cover;
    text-align: center;
    color: black;
}

.carousel-inner {
    max-height: 70vh !important;
  }
  
  .menu {
    height: auto;
    margin-top: 20px;
}

  .meaty {
      height: auto;
      margin-top: 20px;
      background-color: white;
  }

  h3 {
      color: green;
      text-decoration: underline;
      text-align: center;
      margin-top: 20px;
  }
  
  .card-deck {
    margin: 5px;
  }

  .card {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      text-align: center;
  }

  .card-title {
      color: green;
  }

  .card-text {
      color: black;
  }

  .add-cart {
      max-width: 40%;
      margin: 10px;
  }

  .separate{
      background: none;
      height: 20px;
  }

  .chicken {
    height: auto;
    margin-top: 20px;
    background-color: white;
}

.vegetable {
    height: auto;
    margin-top: 20px;
    background-color: white;
}